<ng-container *ngIf = "currentStatus$ | async as currentStatusValue">
    <div class = "button-container" [class] = "'button-status-' + 50145" (click) = "executeTask()">
        <ng-container [ngSwitch]="currentStatusValue">
            <ng-container *ngSwitchCase="BUTTON_STATUS.DEFAULT">
                <ng-container *ngTemplateOutlet="defaultContent" ></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="BUTTON_STATUS.WORKING">
                <ng-container *ngTemplateOutlet="workingContent"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="BUTTON_STATUS.DONE">
                <ng-container *ngTemplateOutlet="doneContent"></ng-container>
            </ng-container>
        </ng-container>     
    </div>
</ng-container>
