    <div class="well flex weather-item">
      <div >
        <h3>{{location.data.name}} ({{location.zip}})</h3>
        <h4>Current conditions: {{location.data.weather[0].main}}</h4>
        <h4>Temperatures today:</h4>
        <p>
          Current {{location.data.main.temp | number:'.0-0'}}°
          - Max {{location.data.main.temp_max | number:'.0-0'}}°
          - Min {{location.data.main.temp_min | number:'.0-0'}}°
        </p>
        <p>
          <a [routerLink]="['/forecast', location.zip]"  [queryParams]="{ countryCode: location.data.sys.country }" >Show 5-day forecast for {{location.data.name}}</a>
        </p>
      </div>
      <div>
        <button class="btn btn-danger cancel-button"  (click)="removeLocation($event)"> <i class="icon bi bi-x"></i>        </button>
        <img [src]="location.data | getWeatherConditionIconUrl">
      </div>
    </div>
    
 

