<ng-container *ngIf = "{filteredCountriesVal: filteredCountries$ | async} as obs">
    <div class="country-entry-container" >
      <h2>Enter a Country:</h2>
      <input type="text" 
        [ngModel] = "countryName" (ngModelChange)="selectedCountryChanged($event)" 
        placeholder="Enter country name" class="form-control" 
        (focus)="onCountryInputFocus()" (blur)="onCountryInputLostFocus()"  >
  
      <div class="country-list" name="country" id="country" *ngIf = "showCountryList">
        <ng-container *ngFor="let country of obs.filteredCountriesVal" >
          <div class="country-list-item" (click) = "onCountrySelected(country)">
            <span [innerHTML] = "countryName | boldMatchingText: country.name"></span>
          </div>
        </ng-container>
      </div>
    </div>
</ng-container>

